<a href="https://colab.research.google.com/github/Ilkhom89/python_javoblari/blob/main/first_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Salom, Mohirdev')

Salom, Mohirdev

# HEADING
 - [Kirish](https://mohirdev.uz)
 - Muqaddima

In [ ]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import tensorflow as tf
import keras

In [ ]:
sklearn.__version__

'0.22.2.post1'

In [9]:
print(torch.__version__)

1.9.0+cu102

In [ ]:
import torch
torch.cuda.is_available()

True

In [8]:
import pandas as pd
files = pd.read_excel('./data/1234.xlsx')
files.head()

   46544    47109   565
0      1      NaN    8455
1   4545      NaN     846
2      4  47109.0   84846
3     64      NaN  464448